html {
  font-size: 62.5%; }
body {
  font: normal normal normal 1.8em/1.6 'Roboto', sans-serif; /* currently ems cause chrome bug misinterpreting rems on body element */
  background-color: gray;
  margin: 0;
  overflow-x: hidden; }
.material-icons {display: block; padding: 0.1rem;  }
h1 {
  font-weight: lighter; font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;
  border-bottom: 0.3rem solid rgb(0, 131, 81); /*RAL6024*/
  margin: 3rem; }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 100%;
  padding: 1rem;  }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: inherit;
  height: 5rem;
  box-sizing: border-box;
  background-color: black;
  color: white;
  padding: 1.4rem 1.6rem;
  font: normal small-caps normal 1.4rem/0.25 'Roboto', sans-serif; }

/* Page container */
.pcont {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;  }
.cwrap {
  padding-bottom: 5rem; /*footer height*/
  padding-top: 5rem; /*footer height*/
  max-width: 960px;
  width: 100%;
  background-color: white;
  justify-content: center;  }

/* Top navigation */
.topnav {
  background-color: black;
  position: absolute;
  top: 0;
  width: inherit;
  max-width: 960px;
  border-bottom: 0.4rem solid rgb(0, 131, 81); }
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 1.4rem 1.4rem 1rem 1.4rem;
  text-decoration: none;
  font: 1.6rem 'Roboto Mono'; }
.topnav-right {float: right; margin-right: 2rem}
.topnav a:hover {
  font-weight: bold; }
.topnav a.active {
  font-weight: bold;
  background-color: rgb(0, 131, 81);  }

.tekst {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 1.5rem; }
